[submodule "dgm"]
	path = dgm
	url = https://github.com/SHA888/dgm
	branch = main

[submodule "openevolve"]
	path = openevolve
	url = https://github.com/SHA888/openevolve
	branch = main

[submodule "SEAL"]
	path = SEAL
	url = git@github.com:SHA888/SEAL.git
	branch = main
