{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 88,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 100
      }
    },
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": "*.toml",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "tabWidth": 2
      }
    }
  ]
}
